*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, sans-serif;
}

nav{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    gap: 1rem;
    padding: 5px;
    margin: 10px;
    align-items: center;
}

nav a, nav button {
    display: flex;
    align-items: center;
}

nav img {
    display: block;
}

a {
    color: black;
    text-decoration: none;
}

.blue_btn{
    background-color:cornflowerblue;
    color: white;
    border: none;
    border-radius: 2rem;
    padding: 10px 20px;
}


.main_body {
    float: 1;
    display: flex;
    margin-top: 12%;
    flex-direction: column;
}

.main_body img {
    object-fit: contain;
    height: 100px;
}



.search_input{
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    height: 30px;
    padding: 10px 20px;
    border-radius: 5rem;
    width: 75vw;
    margin: 0 auto;
    margin-top: 40px;
    max-width: 550px;

}

.search_input input{
    flex: 1;
    padding: 10px 20px;
    border: none;
    outline: none; 
}

.search_input img {
    width: 24px;
    height: 24px;
    object-fit: contain;
    margin: 0 6px;
}

.buttons{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.buttons button{
    margin: 5px;
    padding: 10px 15px;
    background-color: #f8f8f8;
    outline: none;
    border: none;
    cursor: pointer;
}

.language {
    margin-top: 30px;
    font-size: 14px;
    color: #3c4043;
    text-align: center;
}

.language a {
    color: #1a0dab;
    text-decoration: none;
}



.footer {
    width: 100%;
    background-color: #f2f2f2;
    font-size: 14px;
    color: #70757a;
    position: absolute;
    bottom: 0;
    border-top: 1px solid #dadce0;
}

.footer-top {
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    flex-wrap: wrap;
}

.footer a {
    color: black;
    text-decoration: none;
    margin-right: 20px;
}
