<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=apps">

    <title>Terms of Service</title>
</head>
<body>
    <div class="wrapper">
       <div class="wrapper">
        <nav class="top-nav">
    <a href="/">Gmail</a>
    <a href="/">Images</a>
    <span class="material-symbols-outlined">apps</span>
    <button id="btn">Sign in</button>
</nav>
    </div>

    <div class="img-container">
        <img src="{% static 'image/googleit.svg' %}" class="photo" style="width: 600px;">
    </div>

    <div class="terms-content" style="padding: 50px; max-width: 800px; margin: auto;">
        <h2>Google Terms of Service</h2>
        <p><strong>Effective 5 January 2022</strong> | <a id="y" href="#">Archived version</a> | <a id="y" href="#">Download PDF</a></p>
        <p>Country version: Saudi Arabia</p>

        <h3>What’s covered in these terms</h3>
        <strong>We know it’s tempting to skip these Terms of Service, but it’s important to establish what you can expect from us as you use Google services, and what we expect from you.</strong>
        <br>
        <br
     <div class="terms-content">
       <p>
These Terms of Service reflect the <span id="t">way that Google’s business works</span>, the laws that apply to our company, and <span id="t">certain things that we’ve always believed to be true</span>. As a result, these Terms of Service help define Google’s relationship with you as you interact with our services. For example, these terms include the following topic headings
</p></div>


    </div>
</body>
</html>
