body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #fff;
  text-align: center;
}

.container {
  margin-top: 10%;
}

.logo {
  width: 270px;
}

.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px auto;
  padding: 5px 20px;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  max-width: 600px;
}

.search-box input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
  
}

.icons {
  display: flex;
  gap: 10px;
}
.icon , .search-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.icon:hover , .search-icon:hover {
  transform: translateY(-2px);
}


.buttons {
  margin: 20px;
}

button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  border: 1px solid #dadce0;
}

.language {
  margin-top: 10px;
}

.language a {
  color: #1a0dab;
  text-decoration: none;
}

.top-nav {
  text-align: right;
  padding: 10px 20px;
  margin-top: 5px;
  font-family: Arial, sans-serif;
}

.top-nav a {
  margin-right: 15px;
  text-decoration: none;
  color: black;
  font-size: 14px;
}

.apps {
  display: inline-block;
  font-size: 10px;

  line-height: 10px;
  cursor: pointer;
}
button {
  background-color: #1a73e8;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: transform 0.2s ease, border 0.2s ease; 
}

button:hover {
  transform: translateY(-2px); 
  border: 1px solid #dadce0;
}


.search-icon {
  font-size: 16px;
  margin-right: 10px;
  color: #9aa0a6;
}


footer {
  background: #f2f2f2;
  font-size: 14px;
  margin-top: 100px;
  padding: 15px 0;
     position: fixed;

  left: 0;
   bottom: 0;
   width: 100%;
}

.footer-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 20px;
  margin-bottom: 10px;
}

.footer-left {
  flex: 1;
  text-align: left;
}

.footer-links {
  display: flex;
  margin-top: 5px;
  gap: 15px;
  flex-wrap: wrap;
}

.footer-links a {
  color: #5f6368;
  text-decoration: none;
  transition: transform 0.2s ease, color 0.2s ease;
}

.footer-links a:hover {
  transform: translateY(-2px);
  color: #202124; /* Darker shade on hover */
}
