{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Google</title>
  <link rel="stylesheet" href="/static/css/style.css"/>
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">


</head>
<body>
  
  <nav>
    <div class="container">
      <a href="#">Gmail</a>
      <a href="#">Images</a>
      <a href="#"><span class="material-symbols-outlined">apps</span></a>
      <button class="sign_button">Sign in</button>
    </div>

  </nav>
  
  <div class="middle_container">

    <img class="google_logo" src="/static/images/google-logo.png" alt="">


    <div class="search_box">
      <span class="material-symbols-outlined">search</span>
      <input type="text">
      <img src="/static/images/mircophone.png" alt="">
      <img src="/static/images/camera.png" alt="">
    </div>

    <div class="buttons_box">
      <button>Google Search</button>
      <button>I'm Feeling Lucky</button>
    </div>

    <div class="language">
      <p>Google offered in:</p>
      <a href="#">العربية</a>
    </div>

    <footer>
      <div class="footer">

        <div class="location">
          <h4>Saudi Arabia</h4>
        </div>
        <hr>
        <div class="footer_container">
          
          <div class="links_left">
            <a href="#">About</a>
            <a href="#">Advertising</a>
            <a href="#">Business</a>
            <a href="#">How search works</a>
          </div>
          
          <div class="links_right">
            <a href="#">Privacy</a>
            <a href="terms">Terms</a>
            <a href="#">Settings</a>
          </div>
          
        </div>
      </div>
    </footer>

  </div>
  
</body>
</html>