{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Google</title>
  <link rel="stylesheet" href="/static/css/terms.css"/>
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">


</head>
<body>
  
  <nav>
    <div class="container">
      <a href="Gmail">Gmail</a>
      <a href="Images">Images</a>
      <a href="#"><span class="material-symbols-outlined">apps</span></a>
      <button class="sign_button">Sign in</button>
    </div>

  </nav>
  
  <div class="middle_container">

    <img class="google_logo" src="/static/images/tos_main_illustration.svg" alt="">

    <div class="text_container">
      <h1>Google Terms of Service</h1>
    
    <div class="subtitle">
        Effective 5 January 2022 | <a href="#" style="color: #342cb5; text-decoration: none;">Archived versions</a> | <a href="#" style="color: #342cb5; text-decoration: none;">Download PDF</a>
    </div>
    
    <div class="country-version">
        <span>Country version: </span>Saudi Arabia
    </div>
    
    <h2>What's covered in these terms</h2>
    
    <h3>
        We know it's tempting to skip these Terms of Service, but it's important to establish what you can expect from us as you use Google <span>services</span>, and what we expect from you.
    </h3>
    
    <p>
        These Terms of Service reflect <span>way that Google's business works. </span>The laws that apply to our company, and <span>certain things that we've always believed to be true.</span> As a result, these Terms of Service help define Google's relationship with you as you interact with our services. For example, these terms include the following their headings:
    </p>
      
    </div>
  </div>
  
</body>
</html>