{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    <!-- <link href="static/css/styles.css'" rel="stylesheet" /> -->

    <title>Google</title>
</head>
<body>
    <nav>
        <a href="">Gmail</a>
        <a href="">Images</a>
        <a href=""><img src="{% static 'images/app.png' %}" alt="Logo"></a>
        <button class="blue_btn">Sign in</button>
    </nav>


    <div class="main_body">

        <img src="{% static 'images/google-logo.png'%}" alt="google logo">


        <div class="search">

            <div class="search_input">
                <img src="{% static 'images/search.png' %}" class="icon">
                <input type="text" >
                <img src="{% static 'images/mircophone.png' %}" class="icon">
                <img src="{% static 'images/camera.png' %}" class="icon">

            </div>

            <div class="buttons">
                <button>Google Search</button>
                <button>I'm Feeling Lucky</button>
            </div>

            <div class="language">
                Google offered in: <a href="#">العربية</a>
            </div>
        </div>
    </div>




    <footer class="footer">
    <div class="footer-top">
        Saudi Arabia
    </div>

    <div class="footer-bottom">
        <div class="left-links">
            <a href="">About</a>
            <a href="">Advertising</a>
            <a href="">Business</a>
            <a href="">How Search works</a>
        </div>
        <div class="right-links">
            <a href="">Privacy</a>
            <a href="{%url 'main:terms_view'%}">Terms</a>
            <a href="">Settings</a>
        </div>
    </div>
</footer>



</body>
</html>