{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/style.css'%}" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Home Page </title>
</head>
<body>
    <div class="wrapper">
        <nav>
            <div class="right-navigation">
            <a  href=""> Gmail </a>
            <a href=""> Images</a>
            <span class="material-symbols-outlined">
                apps
                </span>
            <button class="sign-in">Sign in</button>
            </div>
        </nav>
        <main>
            <section class="center-section">
                <img id="logo" src="/static/images/google-logo.png">
                <form action="https://www.google.com/search">
                    <div class="search">
                        <span class="material-symbols-outlined">
                        search
                        </span>
                        <input type="text" class="text" name="q">
                        <div class="photos">
                            <img src="/static/images/mircophone.png">
                            <img src="/static/images/camera.png">
                        </div>
                    </div>
                        <div class="buttons">
                             <input type="submit" class="button" value="Google Search"> 
                             <input type="submit" class="button" value="I'm Feeling Lucky"> 
                        </div>
                </form>
                <div class="language"> Google offered in: <a href=""> العربية</a>
                </div>
            </section>

        </main>

        
        <footer>
            <div class="footer">
                <p id="saudi"> Saudi Arabia</p>
                <div class="links">
                    <div class="left-links"> 
                        <a class="page" href="">About</a>
                        <a class="page" href="">Advertising</a>
                        <a class="page" href="">Business</a>
                        <a class="page" href="">How Search works</a>
                    </div>
                    <div class="right-links">
                        <a class="page" href="">Privacy</a>
                        <a class="page" href="{%url 'main:tearms_view' %}">Terms</a>
                        <a class="page" href="">settings</a>
                    </div>

                </div>
        </footer>
    </div>


</body>
</html>