{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    <!-- <link href="static/css/styles.css'" rel="stylesheet" /> -->

    <title>Terms</title>
</head>


<body>
    <nav>
        <a href="">Gmail</a>
        <a href="">Images</a>
        <a href=""><img src="{% static 'images/app.png' %}" alt="Logo"></a>
        <button class="blue_btn">Sign in</button>
    </nav>





</body>
</html>