<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google Terms of Service – Privacy & Terms – Google</title>
</head>
<body>

    <div class="container">
        <div class="navigation_container">
            <div class="signin_container">
                <a class="signin_button" href="https://accounts.google.com/ServiceLogin?hl=en&passive=true&continue=https://www.google.com/&ec=futura_exp_og_so_72776762_e">Sign in</a>
            </div>
            <div class="apps_container">
                <span class="material-symbols-outlined">apps</span>
            </div>
            <div class="menu_container">
                <a href="https://mail.google.com/mail/&ogbl">Gmail</a>
                <a href="https://www.google.com/imghp?hl=en&ogbl">Images</a>
            </div>
        </div>

        <div class="image_container">
            <img src="/static/images/tos_main_illustration.svg">
        </div>

        <div class="terms_container">
            <h1>Google Terms of Service</h1>
            <p><strong>Effective 5 January 2022</strong> | 
                <a href="https://www.google.com/terms/archive?hl=en-SA&fg=1" target="_blank">Archived versions</a> | 
                <a href="https://www.gstatic.com/policies/terms/pdf/20220105/it7r24p9/google_terms_of_service_en-GB.pdf" target="_blank">Download PDF</a>
            </p>
            <p><a href="https://www.google.com/terms?hl=en-SA&fg=1#footnote-country-version" target="_blank">Country version:</a> Saudi Arabia</p>
        
            <h2>What’s covered in these terms</h2>
            <strong> We know it’s tempting to skip these Terms of Service, but it’s important to establish what you can expect from us as you use 
                Google <a href="https://www.google.com/terms?hl=en-SA&fg=1#footnote-services" target="_blank">services</a>, and what we expect from you.
            </strong>
            <p>
                These Terms of Service reflect 
                <a href="https://about.google/intl/en-GB_SA/how-our-business-works" target="_blank">the way that Google’s business works</a>, 
                the laws that apply to our company, and 
                <a href="https://www.google.com/about/philosophy.html?hl=en_GB" target="_blank">certain things that we’ve always believed to be true</a>. 
                As a result, these Terms of Service help define Google’s relationship with you as you interact with our services. For example, these terms include:
            </p>
            <ul>
                <li><a href="https://www.google.com/terms?hl=en-SA&fg=1#toc-what-you-expect" target="_blank">What you can expect from us</a>: how we provide and develop our services.</li>
                <li><a href="https://www.google.com/terms?hl=en-SA&fg=1#toc-what-we-expect" target="_blank">What we expect from you</a>: rules for using our services.</li>
                <li><a href="https://www.google.com/terms?hl=en-SA&fg=1#toc-content" target="_blank">Content in Google services</a>: intellectual property rights.</li>
                <li><a href="https://www.google.com/terms?hl=en-SA&fg=1#toc-problems" target="_blank">In case of problems or disagreements</a>: legal rights and what to expect if these terms are violated.</li>
            </ul>
            <p>
                Understanding these terms is important because, by using our services, you’re agreeing to these terms.
                We also publish a 
                <a href="https://www.google.com/privacy?hl=en-SA&fg=1" target="_blank">Privacy Policy</a>. 
                Although it’s not part of these terms, we encourage you to read it to better understand how you can 
                <a href="https://myaccount.google.com/?hl=en_GB" target="_blank">update, manage, export and delete your information</a>.
            </p>
        
            <h2>Terms</h2>
        
            <h3>Service provider</h3>
            <p>
                Google <a href="https://www.google.com/terms?hl=en-SA&fg=1#footnote-services" target="_blank">services</a> are provided by, and you’re contracting with:<br>
                <strong>Google LLC</strong><br>
                Organised under the laws of the State of Delaware, USA, and operating under the laws of the USA<br>
                1600 Amphitheatre Parkway<br>
                Mountain View, California 94043<br>
                USA
            </p>
        
            <h3>Age requirements</h3>
            <p>
                If you’re under the 
                <a href="https://support.google.com/accounts/answer/1350409?hl=en_GB" target="_blank">age required to manage your own Google Account</a>, 
                you must have your parent or legal guardian’s permission to use a Google Account. Please ask your parent or legal guardian to read these terms with you.<br>
                If you’re a parent or legal guardian and allow your child to use the 
                <a href="https://www.google.com/terms?hl=en-SA&fg=1#footnote-services" target="_blank">services</a>, 
                then these terms apply to you and you’re responsible for your child’s activity on the services.<br>
                Some Google services have additional age requirements as described in their 
                <a href="https://www.google.com/terms/service-specific?hl=en-SA&fg=1" target="_blank">service-specific additional terms and policies</a>.
            </p>
        </div>
    </div>
    
</body>
</html>