<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Terms of Service</title>
  <link rel="stylesheet" href="/static/css/style.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=apps" />
</head>
<body>
  <header>
    <nav class="nav">
      <a href="">Gmail</a>
      <a href="">Images</a>
      <span class="material-symbols-outlined">apps</span>
      <button class="sign-btn">Sign in</button>
    </nav>
  </header>

  <main class="terms-main">
    <img src="/static/images/tos_main_illustration.svg"  class="terms-illustration">

    <section class="terms-para">
      <h1>Google Terms of Service</h1>
      <p><strong>Effective 5 January 2022</strong> | <a href="">Archived versions</a> | <a href="">Download PDF</a></p>
      <p><strong>Country version:</strong> Saudi Arabia</p>

      <h2>What’s covered in these terms</h2>
      <p>We know it’s tempting to skip these Terms of Service, but it’s important to establish what you can expect from us as you use Google services, and what we expect from you.</p>
      <p>These Terms of Service reflect the way that Google’s business works, the laws that apply to our company, and certain things that we’ve always believed to be true.</p>
      <ul>
        <li>What you can expect from us</li>
        <li>What we expect from you</li>
        <li>Content in Google services</li>
        <li>In case of problems or disagreements</li>
      </ul>
      <p>Understanding these terms is important because, by using our services, you’re agreeing to these terms.</p>
      <p>Besides these terms, we also publish a <a href="">Privacy Policy</a>. Although it’s not part of these terms, we encourage you to read it to better understand how you can update, manage, export and delete your information.</p>

      <h2>Service Provider</h2>
      <p><strong>Google LLC</strong><br>
      Organized under the laws of the State of Delaware, USA, and operating under the laws of the USA<br>
      1600 Amphitheatre Parkway<br>
      Mountain View, California 94043<br>
      USA</p>

      <h2>Age Requirements</h2>
      <p>If you’re under the age required to manage your own Google Account, you must have your parent or legal guardian’s permission.</p>
      <p>If you’re a parent or legal guardian, these terms apply to you and you’re responsible for your child’s activity on the services.</p>
    </section>
  </main>
</body>
</html>
